@import 'main.scss';

@mixin section {
  padding: 10px;
}

.settings {
  @include section;
  background-color: rgba(255, 255, 255, 0.3);
}

.standings {
  @include section;

  .player-standings {
    width: 100%;

    > :not(img), :not(input) {
      text-align: center;
    }

    > img, input {
      display: block;
      margin: 0 auto;
    }

    input {
      width: 50%;
    }

    @include section;
    float: left;

    .name, .score {
      display: block;
    }

    .name {
      font-size: 2.4em;
    }

    .img-wrapper {
      height: 160px;
    }

    img {
      transition: width 0.2s ease, height 0.2s ease;
      @include circular(135px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    }

    .score {
      @include bold;
      font-size: 3.6em;
    }

    .move-info {
      &:not(:last-child):after {
        content: ', ';
      }
    }

    &.active {
      img {
        @include circular(150px);
      }
    }
  }
}

.available-players {
  > div {
    cursor: pointer;
    display: inline-block;
    padding-right: 10px;
  }

  img {
    @include circular(50px);
    box-sizing:border-box;
  }

  .in-game {
    opacity: 0.5;
  }
}
