<!DOCTYPE html>
<html>
  <head>
    <title>Darts score</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../bower_components/gridism/gridism.css">
    <link rel="stylesheet" href="darts.min.css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-gravatar/build/md5.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-gravatar/build/angular-gravatar.min.js"></script>

  </head>
  <body ng-app="darts">
    <div ng-controller="settings">
      <div ng-include src="'settings.html'"></div>
      <div ng-include src="'standings.html'"></div>
    </div>

    <script type="text/ng-template" id="playerSetting.html">
      <input type="text" ng-model="newPlayer.name" ng-model-options="{updateOn: 'blur', getterSetter: true}" tabIndex="{{$index*2 + 1}}" placeholder="name" />
      <input type="text" ng-model="newPlayer.email" ng-model-options="{updateOn: 'blur', getterSetter: true}" tabIndex="{{$index*2 + 2}}" placeholder="@" />
      <button name="savePlayer" ng-click="savePlayer()">save player</button>
    </script>

    <script type="text/ng-template" id="settings.html">
    <div class="settings grid">
      <div class="unit one-third">
        <div select-lock dt="gameTypes" model="model" prop-name="gameType" lock-condition="(model.players | isPlaying).length > 0"></div>
      </div>

      <div class="unit one-third available-players">
        <div ng-repeat="player in model.players" available-player></div>
      </div>

      <div class="unit one-third">
        <div ng-if="newPlayer != null" ng-include="'playerSetting.html'"></div>

        <button name="createPlayer" ng-click="createPlayer()">create a new player</button>
        <button name="resetGame" ng-click="resetGame()">start over</button>
      </div>
    </div>

    </script>

    <script type="text/ng-template" id="standings.html">
      <div class="standings">
        <div player-info="player" ng-repeat="player in model.players | isPlaying">
        </div>
      </div>
    </script>

    <script type="text/javascript" src="darts.js"></script>
  </body>
</html>
